html {
  width: 100%;
  height: 100%;
  }
  body {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 20% 50% 30%;
  }
  
  header {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  }

  .userGame {
    display: none;
  }

  .startPage {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  
  main {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 2%;
  border: 2px solid;
  border-radius: 10px;
  margin: 2%;
  background-image: url(images/World\ Martial\ Arts\ Tournament\ BG\ [Dokkan\ Battle]\ by\ Maxiuchiha22\ on\ DeviantArt.png);
  background-size: cover;

  }
  
  .card {
  margin: 10px;
  max-width: 120px;
  max-height: 150px;
  border: 2px solid;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
  }
  
  .cardFront,
  .cardBack {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  }
  
  .cardBack {
  transform: rotateY(180deg);
  background-color: black;
  }
  
  .flipped {
  transform: rotateY(180deg);
  }
  
  .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .boardTimeStartGame {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  }

  .boardTimeStartGame div {
    grid-row: 1/2;
    text-align: center;

  }
  
  .startBtn {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 240px;
  height: 60px;
  border: 2px solid;
  border-radius: 15px;
  justify-content: center;
  background-color: blue;
  }
  

  /* media querys */

  @media (min-width: 600px) {
    body {
      background-color: blue;
    }
    
    .users {
      list-style: none;
      padding: 0;
    }

    .userGame {
      display: grid;
      grid-column: 3/4;
      grid-row: 2/3;
      height: 30vh;
      width: 10vw;
      margin:100px 0;
      border: 5px solid black;
      border-radius: 10px;
      align-items: top;
      justify-content: center;
      font-size: 1.5rem;
      background-color: aliceblue;
    }

    
  }

